{% load staticfiles %}
{% load compress %}
<!DOCTYPE html>
<html>
<title>Code Camp</title>
<link href="{% static 'css/default.css' %}" rel="stylesheet" type="text/css">
<body>

{% compress js %}
<script src="{% static 'script/vendor/jquery-1.7.2.js' %}" type="text/javascript"></script>
<script src="{% static 'script/vendor/handlebars-1.0.rc.2.js' %}" type="text/javascript"></script>
<script src="{% static 'script/vendor/ember.js' %}" type="text/javascript"></script>
<script src="{% static 'script/vendor/ember-data.js' %}" type="text/javascript"></script>
<script src="{% static 'script/vendor/adapter.js' %}" type="text/javascript"></script>
<script src="{% static 'script/app/codecamp.js' %}" type="text/javascript"></script>
<script src="{% static 'script/app/templates/application.handlebars' %}" type="text/x-handlebars"></script>
<script src="{% static 'script/app/templates/associations.handlebars' %}" type="text/x-handlebars"></script>
<script src="{% static 'script/app/templates/sessions.handlebars' %}" type="text/x-handlebars"></script>
<script src="{% static 'script/app/templates/session.handlebars' %}" type="text/x-handlebars"></script>
<script src="{% static 'script/app/templates/speaker.handlebars' %}" type="text/x-handlebars"></script>
{% endcompress %}
</body>
</html>
